.header-elements {
  display: flex;
  flex-direction: row;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10px;

  max-width: 100vw;
}
.website-header-logo {
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.header-elements {
  margin-right: 130px;
  margin-top: 20px;
  margin-left: 20px;
}
.FaMoon {
  height: 140px;
}
.profileIcon {
  height: 40px;
}
dark-theme .button-logout {
  margin-left: 20px;
  margin-bottom: 80px;
  padding: 10px;
  background-color: aqua;
}
.dark-theme {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
}
.dark-mode {
  background-color: black;
  color: white;
}
